
#fff{
    background: url('../assets/imgs/fressy.jpg');
    background-position: center;
}

h2{
    transform: translateY(-800%);
    color: white;
}

#ddd{
    background: url('../assets/imgs/fressy fa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nnn{
    background: url('../assets/imgs/flower.jpg');
    background-position: center;
   // background-repeat: no-repeat;
  // background-size: cover;
}